.blog-preview-card {
  border: 1px solid black;
  background-color: $white;
  padding: 20px ;
  width: 100%;
  border-radius: $border-radius;
  box-shadow: 5px 5px 0  2px  $gray-dark;

  @include md{
    width: 380px;
  }


  &__image-box{
    // border: 1px solid red;
    width:100%;
    height: 200px;

    background: url("../assets/images/illustration-article.svg") center;
  border-radius: $border-radius;
  margin-bottom: 25px;
    

  }


  &__content-box{
  margin-bottom: 25px;

    .category {
      background-color: $yellow;
      width: fit-content;
      padding: 5px 9px;
      font-weight: $fw5;
      border-radius: $border-radius - 15;
      margin-bottom: 10px;
    }

    div + p{
      font-weight: 500;
      color: $gray-dark;
    // letter-spacing: 1px;
      font-size: 14px;

    }


   h2 ~ p{
      color:$gray-light;
      font-weight: $fw5;

    }
   .title{
    margin-block: 10px;
    pointer-events: visible;

    &:hover{
      color:$yellow;
      cursor:pointer;
    }
   }
  }

  &__publisher{

    display: flex;
    align-items: center;


    .circle{
    background-image: url("../assets/images/image-avatar.webp")  ;
    background-size: contain;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    }

    b{
      font-size: 14px;
    }
  }


  b,h2{
    font-weight: 800;
  }
}