

$yellow: hsl(47, 88%, 63%);

$white: hsl(0, 0%, 100%);

$gray-light: hsl(0, 0%, 42%);
$gray-dark: hsl(0, 0%, 7%);


$font-size:1rem;

$font-family: "Figtree", sans-serif;

$fw5:500;
$fw8:800;
$border-radius:20px;
